<h1> All Awards </h1>

<% @awards.each do |award| %>
<%= link_to "#{award.name}", award_path(award) %>
<% end %>

<% if current_admin? %>
<%= form_for [:admin, @award] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
<% end %>
